@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
/* ==================== Top Wrap (Logo,search-bar,icons) ====================*/

#blue-strip{
    height: 35px;
    width: 100%;
    background-color: rgb(240, 240, 250);
}
.wrap{
    display: flex;
    height: 80px;
    align-items: center;    
}
.start_nav{
    width: 22.5%;
}
.start_box{
    display: flex;
    justify-content: space-around;
    height: 25px;
    display: none;
}
.start_box div{
    height: 2px;
    width: 20px;
    background-color: gray;
}
.mobile-search{
    display: none;
}
.logo{
    width: 60%;
    text-align: center;
}
.logo img{
    height: 35px;
    margin: auto;
}
.end_nav{
    display: flex;
    width: 22.5%;
    justify-content: space-around;
    margin-top: -8px;
    margin-right: 20px;
}
.end_nav>div{
    margin-right: 35px;
}
.search-bar{
    height: 40px;
}
.search-bar input{
    height: 100%;
    width:240px;
    padding: 0 0 0 10px;
}

.search-bar button{
    position: absolute;
    margin-left:-2%;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}
.search-bar button img{
    height: 20px;
}
 #myAccount img{
    height: 35px;
}
#cart img{
    height: 30px;
}
.account{
    height: 150px;
    width: 230px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top:35px;
    margin-left: -43px;
    border: 1px solid rgb(195, 195, 195);
    display: none;
}
.open_account{
    display: block;
}

.account ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.account ul li{
    list-style: none;
    margin-left: 20px;
}
.account ul li a{
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
#top-offers{
    display: none;
}

/* ============================ Nav (Nav-links) =============================*/

nav{
    border-bottom: 1px solid rgb(206, 205, 205);
    margin-bottom: 30px;
}
#close-btn{
    display: none;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 80%;
    margin: auto;
}
.nav-links li{
   list-style: none;
   font-size: 13px;
   font-family: 'Roboto Condensed', sans-serif;
   height: 20px;
   padding: 10px 0 10px 0;
   text-align: center;
}

.nav-links li a{
    text-decoration: none;
    color: black;
 }

 .nav-links li::after{
    content:'';
    display: block;
    width: 0;
    height: 4px;
    background: #3763b4;
    margin-top: 11px;
}
.nav-links li:hover::after{
    width: inherit;
}

 .drop{
     height: 300px;
     width: 100%;
     box-shadow: 0px 4px 11px -3px rgba(0,0,0,0.75);
     position: absolute;
     background-color: white;
     margin:1% 0 0 0;
     left: 0;
     display: none;
     padding:20px 0 20px 0; 
 }

 .open-dropdown{
     display: flex;
 }

 .drop .category{
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding:0 0 0 20px;
     margin-left: 100px;
     width: 20%;
     border-right: 1px solid rgb(218, 218, 218);
     animation: smooth 1s;
 }
 .drop .category:hover {
     animation:expand 1s ease;
     animation-fill-mode: forwards;
 }
 .cat-col-2{
     line-height: 2;
     align-items: center;
     width: 300px;
     animation: smooth 0.5s;
 }
 .drop .category .nav-sub-dropdown{
    cursor: pointer;
    width: 250px;
}
.drop .category li:nth-child(8){
    cursor: pointer;
    width: 250px;
}
.drop .category li::after{
    display: none;
}

 .sub-category{
     position: absolute;
     top: 20px;
     display: none;
     width: 200px;
     left:360px;
     animation: smooth 0.5s;
 }

 .open-sub-category{
    display: block;
}

@keyframes expand{
    0%   {width: 30%;}
    100%   {width: 34%;}
}

