.Login {
    width: 15%;
    font-size: 13px;
    margin-left: 2%;
    margin-top: 6%;
    /* border: 1px solid black; */
}

.Container {
    /* border: 1px solid pink; */
    width: 85%;
    height: auto;
    margin:auto;

}

.Container1 {
    width: 80%;
    height: 650px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    /* border: 1px solid green; */
}

.Poster {
    width: 100%;
    height: 120px;
    /* border: 1px solid yellow; */
}

.img {
    width: 100%;
    height: 100%;
}

.topHeading {
    width: 100%;
    height: 80px;
    border-top: 1px solid white;
    border-bottom: 2px solid;
    font-family: "Trade Gothic W01 Light",Arial,sans-serif;
    font-weight: 100;

}

.topHeading>h2 {
    /* border: 1px solid pink; */
    margin-top: 3%;

}

.SignBox {
    /* border: 1px dashed red; */
    width: 90%;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}



.SignBox_left {
    /* border: 1px dashed brown; */
    width: 40%;
    height: 90%;
    margin: auto;
    padding: 2px;
    /* margin-top: 5%; */

}

.SignBox_left1 {
    width: 80%;
    height: 50px;
    /* border: 1px solid greenyellow; */
    margin: auto;
    text-align: center;
    line-height: 5px;
    line-height: 15px;
}

.SignBox_left1>p {
    margin-top: -2px;
}

.SignBox_left_input,
.SignBox_left_input1 {
    width: 80%;
    height: 280px;
    /* border: 1px solid purple; */
    margin-top: 5%;
    margin-left: 15%;
}

.roundDiv {

    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    top: 5%;
    /* left: 95.27%; */
    border-radius: 50%;
    background-color: white;
    color: #666;
    font-size: 14px;
    letter-spacing: .52px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 37px;
    margin-left: -25px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;


}

.roundDiv>h3 {
    /* border: 1px solid greenyellow; */
    text-align: center;
    margin-top: 25%;
}

.SignBox_left1>p{
    font-family:"Trade Gothic W01 Light",Arial,sans-serif; 
}
.SignBox_left1>#head{
    margin-bottom: 20px;
}
.SignBox_left_input>button {
    padding: 10px;
    width: 45%;
    margin-left: 26%;
    margin-top: 5%;
    background-color: black;
    color: white;
    border:none;
}
.SignBox_left_input>button:hover{
    background-color: rgb(212, 211, 211);
    color:black;
    cursor: pointer;
}
.SignBox_left_input1>button {
    padding: 20px 10px;  
    width: 45%;
    margin-left: 22%;
    margin-top: 5%;
    background-color: black;
    color: white;
    border:none;
}
.SignBox_left_input1>button:hover{
    background-color: rgb(212, 211, 211);
    color:rgb(3, 3, 3);
    cursor: pointer;
}

.line {
    border-left: 2px solid rgb(151, 151, 151);
    width: 1px;
    height: 90%;
    position: absolute;
    left: 50%;
    font-family:"Trade Gothic W01_Bold_2",Arial,sans-serif;
}
.roundDiv{
    padding:0px 0px 4px 0px;
}

#spacer {
    /* border: 1px dashed green; */
    background: none;
    position: relative;
    display: inline-block;
    width: 4%;
}

a {
    text-decoration: none;
    color: white;
}
#x{
    color: blue;

}
#y{
    color: blue;
    text-align: center;

}
#loginBtn{
    margin: auto;
    margin-left:18%;
}
#loginEmail{
    padding: 12px 84px 12px 84px;
    text-align: center;
}
#loginPass{
    padding:  12px 84px 12px 84px;
    text-align: center;

}
